<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<div id="app">
    姓名:
    <input type="text" v-model="username">

    <br>
    ID:
    <input type="text" v-model="userid">
    <button @click="add">添加学生</button>
    <table>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>入学时间</th>
            <th>操作</th>
        </tr>
        <tr v-for="(item, index) in arr">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td><a href="javascript:" @click="del(index)">删除</a></td>
        </tr>
    </table>
</div>

</body>
<script src="./vue.js"></script>
<script>
    const app = new Vue({
        el:'#app',
        data: {
            arr: [
                {
                    name: '张俊友',
                    id: '0',
                    date: new  Date()
                },
                {
                    name: '詹姆斯',
                    id: '2',
                    date: new  Date()
                }
            ],
            username: '',
            userid: ''
        },
        methods: {
            del (index) {
                this.arr.splice(index, 1)
            },
            add() {
                this.arr.push({
                    name: this.username,
                    id: this.userid,
                    date: new Date()
                });
                this.username = '';
                this.userid = '';
            },

        }
    })
</script>
</html>
